/***************************TAG Selectors*****************************/

body {
    color: #40514E;
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
}

h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 70px;
    margin: 50px auto 0 auto;
}

h2 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    margin-top: 15px;
}

h5 {
    color: #11999E;
    font-family: 'Merriweather', serif;
    font-size: 0.8rem;
    padding-top: 15px;
}

a {
    color: #11999E;
}

p {
    padding-bottom: 20px;
}

hr {
    border-color: #FFC4C4;
    border-style: dotted;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 8px;
    opacity: 1;
    margin: auto;
    width: 15%;
}

table {
    width: 80%;
    align-items: center;
}

/**************************TOP CONTAINER*****************************/
.topcontainer {
    background-color: #C3F8FF;
    padding-top: 40px;
    padding-bottom: 5px;
    position: relative;
}

.intro {
    text-align: center;
    width: 60%;
    margin: auto;
}

.banner {
    height: 400px;
}

.bluebird {
    position: absolute;
    height: 150px;
    right: 200px;
    top: 30px;
}

.yellowbird {
    position: absolute;
    height: 150px;
    left: 150px;
    bottom: 300px;
}

/**************************MIDDLE CONTAINER*****************************/
.middlecontainer {
    background-color: #EAF6F6;
    padding: 3% 15%;
}

.profilepic {
    height: 180px;
}

.skill-row {
    margin: auto;
    width: 40%;
}

.skillset {
    height: 100px;
}

.card-header {
    background-color: #EAF6F6;
}

.card-body {
    background-color: #FFF6BF;
    height: 250px;
}


/**************************BOTTOM CONTAINER*****************************/
.bottomcontainer {
    background-color: #C3F8FF;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0;
}

.coffeechat {
    height: 100px;
    padding-bottom: 10px;
}

.footer-link {
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
}

.footer-link:hover {
    color: navy;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: 20px;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;

}